@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#1c1c1c;
    color: #fff;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}


.selected{
    /* display: block; */
    /* background-color: red; */
    /* margin-top: 0; */
}
.gayab{
    display: none;
}